@import '~/layouts/Dashboard/theme.scss';

.todos-status {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 20px 0px 20px;

  .tab-bar {
    display: flex;
    padding-bottom: 10px;

    .active {
      text-decoration: underline;
      text-decoration-color: $primary;
      font-weight: bold;
    }
  }
  .search-box {
    border: 1px solid #969faa;
    border-radius: 20px;
    overflow: hidden;
    padding-right: 10px;
    .form-control {
      border: none;
      box-shadow: none;
      font-size: 14px;
      padding-left: 15px;
      -webkit-box-shadow: none;
    }
    .input-group-append {
      background-color: transparent;
      align-items: center;
      margin-left: 0;
    }
  }
}
