@import '~/layouts/Dashboard/theme.scss';

.add-employee {
  .modal-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .core-filter {
    background-color: #f9fafb;
    padding: 10px 20px;
  }

  .modal-body {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;

    .ds-avatar {
      margin-right: 20px;
    }

    .info {
      flex: 1;
      .assign {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span {
          width: 100px;
        }
      }
      .core-dropdown {
        margin-bottom: 10px;

        .core-dropdown-toggle {
          .core-dropdown-title {
            width: 100px;
          }
          .core-dropdown-label {
            line-height: 35px;
          }
          .caret {
            bottom: 14px !important;
          }
        }
      }
      .core-input {
        margin-bottom: 10px;
        .core-input-label {
          width: 85px;
        }
        .core-input-content {
          flex: 1;
          input {
            max-width: 300px;
          }
          .clear {
            right: 20px;
          }
          .delete {
            display: none !important;
          }
        }
      }
      .ds-datepicker {
        margin-top: 4px;
        margin-bottom: 4px;
        .dsl-label {
          width: 100px;
        }
        .ds-datepicker-input span {
          color: #676767;
          font-size: 12px;
          font-weight: 300;
          line-height: 14px;
        }
        .core-input-content input {
          background-color: white;
        }
        .react-datepicker-wrapper .react-datepicker__input-container input {
          border: none;
        }
        i {
          margin-top: 10px;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: none;
    padding-bottom: 20px;
    text-align: right;
  }

  ::-webkit-input-placeholder {
    color: $light-grey;
  }
  ::-moz-placeholder {
    color: $light-grey;
  }
  :-ms-input-placeholder {
    color: $light-grey;
  }
  :-moz-placeholder {
    color: $light-grey;
  }
}
