.vdra-owners {
  .core-input {
    margin-bottom: 15px;
    align-items: flex-start;
    &-label {
      width: 200px;
      line-height: 40px;
    }

    &-content {
      min-height: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .core-select {
    align-items: center;
    &-label {
      width: 105px;
    }

    &-input {
      width: 150px;
    }
  }
}
  