@import '~/layouts/Dashboard/theme.scss';

.week-courses-list {
  .week-courses-item {
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;

    .week-courses-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
    }
    .employees-detail {
      position: relative;
      cursor: pointer;
      &-modal {
        display: none;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 999;
        width: 250px;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
      }
      &:hover {
        background-color: #e7eff8;
      }

      &:hover {
        .employees-detail-modal {
          display: block;
        }
      }
    }
  }
}
