@import '~/layouts/Dashboard/theme.scss';

.lib-todo-habit {
  .habit-detail,
  .settings-contents,
  .modules-contents {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }

  .settings-habit {
    .accordion__item {
      .accordion__body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .input-field {
    margin-bottom: 25px;

    .core-input-label {
      line-height: 20px;
    }

    .core-input-content {
      .form-control {
        font-size: 16px;
        line-height: 19px;
        margin-right: 0;
      }
      .clear {
        right: 15px;
      }
      .delete {
        display: none;
      }
    }
  }

  .btn-save {
    height: 36px;
    padding: 0 20px;

    &.btn[disabled] {
      color: white;
    }
  }
}
