@import '~/layouts/Dashboard/theme.scss';

.reset-password-modal {
  .modal-body {
    .core-input {
      margin-bottom: 10px;
      .core-input-label {
        width: 35px;
        font-size: 14px;
      }
      .core-input-content {
        flex: 1;
        input {
          width: 300px;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    border: none;
  }
}
.modal-backdrop {
  z-index: 1050;
}
