@import '~/layouts/Dashboard/theme.scss';

.reports-task-detail {
  .card {
    padding-bottom: 0 !important;
  }
  .custom-margin-right {
    margin-right: 4px;
  }
  .custom-margin-left {
    margin-left: 5px;
  }
}
@media screen and (max-width: $screen-sm) {
  .reports-task-detail {
    .card {
      padding: 20px 20px 0 20px !important;
    }
  }
}

@media screen and (max-width: $screen-ssm) {
  .reports-task-detail {
    .card {
      padding: 15px 15px 0 15px !important;
    }
    .custom-margin-left {
      margin-left: 0;
    }
    .custom-margin-right {
      margin-right: 0;
    }
  }
}
