.career-content {
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;

  .achievement-item {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 40px 10px 0;
  }

  .habit-item {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .est-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .slick-slider {
    .slick-arrow {
      &.slick-prev {
        top: 20px !important;
      }
      &.slick-next {
        top: 20px !important;
      }
    }
  }
}
