@import '~/layouts/Dashboard/theme.scss';

.featured-departments {
  .ml2 {
    margin-left: 2px;
  }
  .ds-stars {
    .star-list {
      &.small {
        span {
          &.d-lg-block {
            font-size: 16px;
            color: #376caf;
          }
        }
      }
    }
  }
}