$primary: #376caf;
$sub: #6899d7;
$dark-grey: #343f4b;
$middle-grey: #676767;
$light-grey: #969faa;
$slight-grey: #c3c7cc;
$border-grey: #dee2e6;
$dim-grey: #707070;
$white: #ffffff;
$black: #000;
$light: #f8f8f9;
$slight: #f6f7f8;
$light-blue: #e5eef8;
$dark-blue: #1a539b;
$blue: blue;
$main-blue: #376caf;
$basic: green;
$premium: darkorange;
$red: red;
$yellow: #fdff7a;
$light-green: #f1fff1;

$main-background: #f8f8f9;

$screen-ssm: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-slg: 1100px;
$screen-lg: 1200px;
$screen-sxl: 1300px;
$screen-xl: 1440px;

$header-height: 62px;
$header-icon-width: 25px;
$header-icon-height: 30px;
$header-logo-height: 40px;
$header-avatar-size: 33px;
$sidebar-width: 246px;
$left-sidebar-width: 360px;

$f-size-lg: 25px;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
