@import '~/layouts/Dashboard/theme.scss';

.training-week-item {
  padding: 20px;
  margin-top: 10px;
  background-color: white;

  .training-week-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
